<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Persona</h5>
          <p class="card-text">        
          <p>{{persona.nombre}}</p>
          <p>{{persona.apellido}}</p>
          <p>{{persona.edad}}</p>
          <p>{{persona.sexo}}</p>
        </div>
      </div>

    
    
</body>
</html>



